<main>
    <form class="product-form" action="/admin/{{#if editing}}edit-product{{ else }}add-product {{/if}}" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{#if editing }}{{product.title}} {{/if}}" >
        </div>
        <div class="form-control">
            <label for="imageUrl">Image</label>
            <input type="text" name="image" id="image" value="{{#if editing }}{{product.imageUrl}} {{/if}}" >
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="text" name="price" id="Price" value="{{#if editing }}{{product.price}} {{/if}}" >
        </div>
        <div class="form-control">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" rows="5" >{{#if editing }}{{product.desc}} {{/if}}</textarea>
        </div>
        {{#if editing}}
        <input type="hidden" name="id" value="{{product.id}}" >
        {{/if}}
        <button class="btn" type="submit">{{#if editing}}Update Product{{ else }} Add Product  {{/if}}</button>
    </form>
</main>