<main>
    {{#if hasProducts}}
        <ul>
            {{#each products}}
                <li>{{this.productData.title}}({{this.qty}})</li>
                <form action="admin/delete-from-cart" method="post" >
                    <input type="hidden" name="price" value="{{this.productData.price}}" >
                    <input type="hidden" name="id" value="{{this.productData.id}}" >
                    <button type="submit" class="btn" >Delete</button>
                </form>
            {{/each}}
        </ul>
    {{ else }}
        <h1>No Products in Cart!!!</h1>
    {{/if}}
</main>